<h1>欢迎<%= @player %>进入斗地主游戏</h1>

<form action="/table">
  <%=for table <- all_tables() do %>
  <input type="radio" name="table" value=<%= table %> >Table <%= table %> which contains Players: <%= players(table)%> <br>
  <% end %>
  <input type="submit" value="Join">
</form>

  


